<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Menu Planner</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
        <div class="container">
          <%= link "Menu Planner", to: Routes.page_path(@conn, :index), class: "navbar-brand" %>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
              <%= if @current_user do %>
                <li class="navbar-item">
                  <%= link "Users", to: Routes.user_path(@conn, :index), class: "nav-link" %>
                </li>
                <li class="navbar-item">
                  <%= link "Menus", to: Routes.menu_path(@conn, :index), class: "nav-link" %>
                </li>
              <% end %>
            </ul>
            <ul class="navbar-nav ml-auto">
              <%= if @current_user do %>
                <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                  <li class="navbar-item">
                    <%= link  to: Routes.live_dashboard_path(@conn, :home), target: "_blank", class: "nav-link" do %>
                      <i class="fas fa-tachometer-alt"></i>
                    <% end %>
                  </li>
                <% end %>
                <li class="navbar-item">
                  <%= link to: Routes.session_path(@conn, :delete), class: "nav-link" do %>
                    <i class="fas fa-sign-out-alt"></i> Log out
                  <% end %>
                </li>
              <% else %>
                <li class="navbar-item">
                  <%= link to: Routes.session_path(@conn, :new), class: "nav-link" do %>
                    <i class="fas fa-sign-in-alt"></i> Log in
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="pt-1 pb-5">
        <%= if msg = get_flash(@conn, :info) do %>
          <div class="alert alert-info alert-dismissible" role="alert">
            <button class="close" type="button" data-dismiss="alert">
              <span>&times;</span>
            </button>
            <%= msg %>
          </div>
        <% end %>
        <%= if msg = get_flash(@conn, :error) do %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button class="close" type="button" data-dismiss="alert">
              <span>&times;</span>
            </button>
            <%= msg %>
          </div>
        <% end %>
      </div>
      <%= @inner_content %>
    </main>
  </body>
</html>
