<section class="col-md-10 mx-auto">
  <header class="d-flex justify-content-between align-items-center">
    <h1><%= @menu.name %></h1>
    <div>
      <%= link to: Routes.menu_path(@conn, :index), class: "btn btn-link text-secondary" do %>
        <i class="fas fa-arrow-left"></i> Back To Menus
      <% end %>
    </div>
  </header>

  <div>
  </div>
</section>
