<section class="col-md-10 mx-auto">
  <header class="d-flex justify-content-between align-items-center">
    <h1>Edit User</h1>
    <%= link to: Routes.user_path(@conn, :index), class: "btn btn-link text-secondary" do %>
      <i class="fas fa-arrow-left"></i> Back To Users
    <% end %>
  </header>

  <%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>
</section>
